---
layout: default
title: Resume
---

<div class="resume">

  <header class="post-header">
    <h1>{{ site.data.resume.Personalien.Name }}</h1>
  </header>

  <div id="timeline1"></div>

  <header><h2>Praktische Erfahrung</h2></header>
  <article class="experience">
  <ul class="resume-list">
    {% for data in site.data.resume.experience %}
    <li id="frame_{{ data.uid }}">
      <span class="date">{{ data.timeframe }}</span>
      <span class="jobtitle">{{ data.what }}</span> bei <span class="company"><a href="{{ data.url | default "#"}}">{{ data.company }}</a></span>, <span class="location">{{ data.location }}</span>
      <span class="description">{{ data.description }}</span>
    </li>
    {% endfor %}
  </ul>


  </article>
  <header><h2>Ausbildung</h2></header>
  <article class="education">
  <ul class="resume-list">
    {% for data in site.data.resume.education %}
    {% if data.degree %}
    <li id="frame_{{ data.uid }}">
      <span class="date">{{ data.timeframe }} <span class="degree">{{ data.degree }}</span></span>
      <span class="company"><a href="{{ data.url | default "#"}}">{{ data.company }}</a></span>, <span class="location">{{ data.location }}</span>
      <span class="description">{{ data.description }}</span>
    </li>
    {% endif %}
    {% endfor %}
  </ul>
  </article>



</div>
