---
layout: default
title: Resume
---
<div class="resume">

  <header class="post-header">
    <h1>{{ site.data.resume.Personalien.Name }}</h1>
  </header>

  <div id="timeline1"></div>
  {% assign cats = "experience,education,linux" | split: "," %}
  {% for category in cats %}
    <header><h2>{{ site.data.resume[category].name }}</h2></header>
    <article class="{{ category }}">
    <ul class="resume-list">
      {% for data in site.data.resume[category].timeframes %}
      <li id="frame_{{ data.uid }}">
        <span class="date">{{ data.timeframe }} <span class="degree">{{ data.degree }}</span></span>
        {% if data.company %}
        {% if category == "experience" %}<span class="jobtitle">{{ data.what }}</span> bei {% endif %}<span class="company"><a href="{{ data.url | default "#"}}">{{ data.company }}</a></span>, 
        {% for loc in data.location%}
        <span class="location">
        {% if loc.osm_link %}<a href="{{ loc.osm_link }}">{% endif osm_link %}{{ loc.name }}{% if loc.osm_link %}</a>{% endif osm_link %}{% unless forloop.last %}, {% endunless %}</span>
        {% endfor %}
        {% endif data.company %}
        <span class="description">{{ data.description }}</span>
      </li>
      {% endfor %}
    </ul>
    </article>
  {% endfor %}
</div>